<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 class="ion-text-center no-item" *ngIf="items.length === 0">
      No items available on the list
    </h3>

    <ion-item-sliding *ngFor="let item of items; let i = index" #slidingItem>
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-text>{{item.quantity}}</ion-text>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option color="primary" (click)="editItem(item)">
          <ion-icon name="create"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="light" (click)="shareItem(item, i)">
          <ion-icon name="share"></ion-icon>
          Share
        </ion-item-option>
        <ion-item-option color="secondary" (click)="removeItem(item._id)">
          <ion-icon name="trash"></ion-icon>
          Done
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
